<p>register works!</p>
<form
  class="example-form"
  (submit)="Register(registerFrom)"
  #registerFrom="ngForm"
>
  <mat-card class="example-card">
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Enter username"
          #author="ngModel"
          name="username"
          ngModel
          required
          minlength="8"
        />
        <mat-error *ngIf="author.invalid"
          >Please enter your username.</mat-error
        >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Enter password"
          #author="ngModel"
          name="password"
          ngModel
          required
          minlength="8"
        />
        <mat-error *ngIf="author.invalid"
          >Please enter your password.</mat-error
        >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Enter gender"
          #author="ngModel"
          name="gender"
          ngModel
          required
          minlength="8"
        />
        <mat-error *ngIf="author.invalid">Please enter your gender.</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Enter age"
          #author="ngModel"
          name="age"
          ngModel
          required
          minlength="8"
        />
        <mat-error *ngIf="author.invalid">Please enter your age.</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Enter email"
          #author="ngModel"
          name="email"
          ngModel
          required
          minlength="8"
        />
        <mat-error *ngIf="author.invalid">Please enter your email.</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary">Register</button>
      <button mat-raised-button type="" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</form>
