<div>
  <mat-toolbar>
    <button
      mat-raised-button
      color="accent"
      [routerLink]="['']"
      preserveQueryParams
      preserveFragment
    >
      Home
    </button>
    <button
      mat-raised-button
      color="accent"
      [routerLink]="['posts']"
      preserveQueryParams
      preserveFragment
    >
      Posts
    </button>
    <button
      mat-raised-button
      color="accent"
      [routerLink]="['register']"
      preserveQueryParams
      preserveFragment
    >
      Register
    </button>
    <button
      mat-raised-button
      color="accent"
      [routerLink]="['login']"
      preserveQueryParams
      preserveFragment
    >
      Log-in
    </button>
  </mat-toolbar>
</div>
